body {
    margin: 100px;
    font-family: sans-serif;
}

.content {
    display: block;
    text-align: center; 
}

table {
    margin: 0 auto; 
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
